<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liulishuo.filedownloader.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- When you invoke BaseDownloadTask#setWifiRequired(true), you need declare ACCESS_NETWORK_STATE permission -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HybridTestActivity"
            android:label="@string/hybrid_test_title" />
        <activity
            android:name=".SingleTaskTestActivity"
            android:label="@string/single_task_test_title" />
        <activity
            android:name=".MultitaskTestActivity"
            android:label="@string/multitask_test_title" />
        <activity
            android:name=".performance.PerformanceTestActivity"
            android:label="@string/performance_test_title" />
        <activity
            android:name=".TasksManagerDemoActivity"
            android:label="@string/tasks_manager_demo_title" />
        <activity
            android:name=".NotificationSampleActivity"
            android:label="@string/notification_sample_title" />
    </application>

</manifest>